body {
  background-color: #efefef;
  font-size: 1.5em;
  font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New",
    monospace;
}

.main_title {
  font-size: 3em;
  font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New",
    monospace;
  color: green;
}

.additional_title {
  font-size: 2em;
  color: orange;
}

.day_in_today_tomorrow {
  padding-top: 1em;
}

.days_in_index {
  padding-top: 1em;
  padding-bottom: 2em;
}

ol {
  padding: 0;
  overflow: hidden;
  margin: 1em 0 0;
}

.backwards {
  margin-top: 3em;
}

.btn-primary:hover {
  background-color: blue;
  border-radius: 10%;
  height: 2.4em;
  width: 8.25em;
}

.btn-secondary:hover {
  background-color: black;
  border-radius: 10%;
  height: 2.4em;
  width: 7.05em;
}

.tasks {
  padding-top: 1em;
}

.buttons1 {
  padding-top: 1em;
}

.buttons2 {
  padding-top: 12em;
}

.error {
  background-color: #c00;
} /*На перспективу */

input[type="checkbox"] {
  zoom: 1.75;
}